<!DOCTYPE html>
<html>
<head>
  <title>Dynamic Template</title>
</head>
<body>

  <h1>Dynamic Template</h1>
  <p>Title using EJS variables: <%= title %></p>
  <p><a href="/">Go to Home Page</a></p>

</body>
</html>